h1 {
    color:dimgrey;
}

#spanId {
    margin: 50px;
    font-size: 18px;
}

div {
    text-align: center;
}

#thirdDiv {

    height:600px; 
    width: 500px; 
    background-color: rgb(172, 87, 209);
    padding: 50px;
    border: 10px solid greenyellow;
   
    text-align:center;
}

img {
    width: 400px;
}